@tailwind base;
@tailwind components;
@tailwind utilities;

/* font Family */
*{
  font-family: "Poppins", "sans-serif";
  margin: 0px;
  padding: 0px;
}

:root {
  --theme-color: #8832DF; /* Website theme color */

}

